* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile -text
/NEWS -text
/README -text
/Sample_Sentences.txt -text
Scripts/Adjektiven/Adjektiven.py -text
Scripts/Adjektiven/Adjektiven.py.txt -text
Scripts/Adjektiven/Adjektiven.txt -text
Scripts/Adjektiven/Adjektiven_Bilingual.txt -text
Scripts/Nomen/Nomen.python -text
Scripts/Nomen/Nomen.python.txt -text
Scripts/Nomen/neueWoerter.txt -text
Scripts/Verben/README -text
Scripts/Verben/Verben.python -text
Scripts/Verben/Verben.python.txt -text
Scripts/Verben/Verben.txt -text
Scripts/nounswiki/extract_wiki_translations.py -text
Scripts/nounswiki/noun.txt -text
/TODO -text
/apertium-en-nl.en-nl.dix -text
/apertium-en-nl.en-nl.t1x -text
/apertium-en-nl.en-nl.t2x -text
/apertium-en-nl.en-nl.t3x -text
/apertium-en-nl.en.dix -text
/apertium-en-nl.fr.dix -text
/apertium-en-nl.nl-en.t1x -text
/apertium-en-nl.nl-en.t2x -text
/apertium-en-nl.nl-en.t3x -text
/apertium-en-nl.nl.dix -text
/apertium-en-nl.post-en.dix -text
/apertium-en-nl.post-nl.dix -text
/en-nl.prob -text svneol=unset#unset
/modes.xml -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
